/*
Theme Name: Traxion Theme
Description: Theme enfant de Traxion
Author: Julien - 3C-Evolution
Author URI: https://www.3c-e.com/
Template: jupiterx
Version: 0.1.0
*/

/* Fix Typos */

@font-face {
	font-family: "jupiterx";
	src: url('../jupiterx/lib/assets/fonts/jupiterx.eot');
	src: url('../jupiterx/lib/assets/fonts/jupiterx.eot?#iefix') format('eot'),
		url('../jupiterx/lib/assets/fonts/jupiterx.woff2') format('woff2'),
		url('../jupiterx/lib/assets/fonts/jupiterx.woff') format('woff'),
		url('../jupiterx/lib/assets/fonts/jupiterx.ttf') format('truetype'),
		url('../jupiterx/lib/assets/fonts/jupiterx.svg#jupiterx') format('svg');
}

@font-face {
	font-family: "Montserrat";
	src: url('lib/assets/Montserrat/Montserrat-Regular.ttf');
}

.container {
    max-width: 1640px;
}

.sib_signup_form {
    font-size: 14px;
}

.sib_signup_form a{
    color: black;
    text-decoration: underline;
}
.sib_signup_form a:hover{
    color: var(--e-global-color-accent);
}

.sib_signup_form input:not([type="checkbox"],[type="submit"]) {
    background-color: #ffffff;
    border-color: #e2e2e2;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 14px;
    min-height: 47px;
    border-style: solid;
    width: 100%;
}
.sib_signup_form input:not([type="checkbox"],[type="submit"])::placeholder {
    color: #9c9c9b;
}
.sib_signup_form input:not([type="checkbox"],[type="submit"]):focus-visible {
    outline: initial;
}


.sib_signup_form .sib-default-btn{
    background-color: var( --e-global-color-accent );
    color: #ffffff;
    border-color: var( --e-global-color-accent );
    font-family: "Rubik", Sans-serif;
    flex-basis: 100%;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.6em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding:10px 30px 10px 45px;
    width: 100%;
    display: block;
    transition: 300ms;
}

.sib_signup_form .sib-default-btn:hover{
    background-color: #ffffff;
    color: var( --e-global-color-accent );
    cursor: pointer;
}


.container-fluid {
    padding: 0;
}

.banner {
    background-image: url("https://i.ibb.co/rw0bSk7/loader-1846346-1920.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0;
}
/*
.jupiterx-main {
    margin-top: -16px;
}
*/
button, .raven-submit-button {
    border-radius: 6px!important;
    padding: 10px 30px 10px 45px!important;
}



.elementor-button:before, .raven-submit-button:before, .sib_signup_form .sib-default-btn:before {
    font-family: "jupiterx";
    content: "\EA19";
    display: block;
    width: 19.5px;
    height: 19.5px;
    float: left;
    padding-right: 27px;
    font-size: 18px;
}

.elementor-button:hover::before, .raven-submit-button:hover::before, .sib_signup_form .sib-default-btn:hover::before {
    animation: arrowMoving 500ms ease-in-out infinite alternate;
}

@keyframes arrowMoving {
    0% { transform: translateX(0px); }
    100% { transform: translateX(15.6px); }
 }

.jupiterx-main ul li {
    list-style-type: none;
}

.jupiterx-main ul li:before {
    font-family: "jupiterx";
    content: "\EA19";
    position: absolute;
    left: 0;
}

#contactList ul li:before{
    content:"";
}

ol.breadcrumb span{
    color: var(--e-global-color-text);
}


.elementor-nav-menu--main .elementor-nav-menu .sub-menu.elementor-nav-menu--dropdown .sub-menu.elementor-nav-menu--dropdown {
    display:block!important;
    position: unset;
    width: auto;
} 

header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap {
    padding:23px;
    column-count: 3;
    width: 840px!important;
    border-top: var(--e-global-color-accent) 2px solid;
    border-bottom: #dadada 1px solid;
    border-left: #dadada 1px solid;
    border-right: #dadada 1px solid;
    border-radius:0 0 5px 5px;
}

header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap li{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}

header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap a{
    
    border-left: 0;
}


header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap li ul li a{
    font-weight:normal!important;
    font-size:12.5px!important;
    text-transform: initial;
    color: var(--e-global-color-text)!important;
}

header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap li ul li a:before{
    font-family: "jupiterx";
    content: "\EA19";
    position: absolute;
    left: 8px;
    opacity:0;
}

header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap li ul li:hover{
    background: #F6F6F6; 
}

header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap li ul li > a:hover{
    color: var(--e-global-color-accent)!important;
    transform: translateX(15px);
}
header .sub-menu.elementor-nav-menu--dropdown.sm-nowrap li ul li > a:hover:before{
    opacity:1;
}

/* .elementor-nav-menu--main .elementor-nav-menu li ul :first-child {
    column-count: 3;
} 
 */

footer .productsCatFooter li {
}
footer a{
    color: white;
}

footer a:hover {
    color:white;
    text-decoration: underline;
}
footer .productsCatFooter li a{
    padding-left:0!important;
    color: white;
}

#bibliHome img {
    position: relative;
    z-index: 2;
    transition: 500ms;
}

#bibliHome img:hover {
    opacity: 0.2;
    cursor: pointer;
}


#bibliHome .elementor-widget-image:before {
    transition: 500ms;
    font-family: "Font Awesome 5 Free";
    content: "\f56d";
    display: block;
    color: var( --e-global-color-accent );
    width:100%;
    font-size: 39px;
    margin:0 auto;
    position: absolute;
    font-weight: 900;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 1;
    z-index: 1;
}

.seeMe img {
    position: relative;
    z-index: 2;
    transition: 500ms;
}

.seeMe img:hover {
    opacity: 0.2;
    cursor: pointer;
}


.seeMe .elementor-widget-image:before {
    transition: 500ms;
    font-family: "Font Awesome 5 Free";
    content: "\f06e";
    display: block;
    color: var( --e-global-color-accent );
    width:100%;
    font-size: 50px;
    margin:0 auto;
    position: absolute;
    font-weight: 900;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 1;
    z-index: 1;
}

/*
#bibliHome img:hover > #bibliHome .elementor-widget-image:after {
    opacity: 1;
}

*/

.jupiterx-main-content {
    overflow: hidden;
}

#breadcrumbs a:hover {
	color: var( --e-global-color-accent );
}

#breadcrumbs a:after {
    font-family: "jupiterx";
    content: "\EA19";
    vertical-align: bottom;
    margin: 0 15px 0 20px;
}

#pageTitle h1:before {
    content: "";
    display: block;
    width: 300px;
    height: 41px;
    background: #344687;
    border-radius: 0 8px 8px 0;
    position: absolute;
    left: -322px;
}

.required-mark-label:after {
    color: var( --e-global-color-accent )!important;
}

.elementor-pagination {
    font-size: 23px;
    font-family: "Helvetica";
}

.elementor-pagination a.page-numbers {
    color: #878787;
    transition: 500ms;
}

.elementor-pagination a.page-numbers:hover {
    color: var( --e-global-color-accent );
}

.introPage:before {
    content: "";
    display: block;
    width: 350px;
    height: 100%;
    background: #F6F6F6;
    border-radius: 0 11px 11px 0;
    position: absolute;
    left: -335px;
}

.woocommerce-page .jupiterx-primary input:not(.jet-range__slider__input), .woocommerce-page .jupiterx-primary textarea, .woocommerce-page .jupiterx-primary select, .woocommerce form input:not(.jet-range__slider__input), .woocommerce form textarea, .woocommerce form select {
	border: none;
	padding: 0;
}

.woocommerce-result-count {
    font-family: 'Montserrat';
    font-size: 18px;
    color: var( --e-global-color-accent );
    font-weight: bold;
}

#searchBar input{
    padding:7.8px;
    border:1px solid #878787;
    font-size: 14px;
}
#searchBar button{
    color: var( --e-global-color-text );
    padding: 7px 5px!important;
}

.widget_woocommerce_product_search {
    margin-bottom: 0;
}

#productsGrid ul.products:before {
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    position: absolute;
    top: 47px;
    background: #DEDCDC;
}
#productsGrid ul.products {
    padding-top:25px;
}

.woocommerce-ordering select{
    font-family: 'Montserrat';
    border: 1px solid #DEDEDE!important;
    color: #878787!important;
    padding:8px!important;
    margin: -10px 0 1em!important;
    border-radius: 0!important;
    font-size: 14px;

}



#footerBottom a{
    color: white;
}

#footerBottom a:hover, #contactForm a{
    color: white;
    text-decoration: underline;
}

#newsForm a{
    color: var(--e-global-color-text);
    text-decoration: underline;
}

#contactForm a:hover, #newsForm a:hover {
    color: var( --e-global-color-accent );
}

.listDL a{
	color: grey;
}
.listDL a:hover{
	color: var( --e-global-color-accent );
}


.flatButton a:before{
    padding-left: 58px;
    padding-top: 4px;
    font-size: 17px;
    margin-right: -65px;
}

.jupiterx-scroll-top {
    padding: 5px 14px!important;
}

/* Product page */

.productSectionTitle::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 10px;
    display: block;
    background-color: #344687;
}

.bluePointList ul{
    padding-left:0;
}

.bluePointList ul li{
    list-style-type: none;
}

.bluePointList ul li::before{
    content: "\2022";  
  color: var( --e-global-color-0b90fe4 ); 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  font-size: 33px;
    position: relative;
    top: 5px;
}

.whiteLink a{
    color: white;
    text-decoration: underline;
}

.whiteLink a:hover{
    color: var( --e-global-color-0b90fe4 ); 
}

.noArrowList ul li:before{
    content:"";
}

#newsLetterBar .raven-field:focus {
    border: none;
    box-shadow: none;
}

#newsLetterBar .raven-submit-button {
    width: 100%!important;
}

.calcButton {
    border-color: #344687;
    background-color: #344687;
    padding: 5px 8px!important;
    width: 100px;
    margin-top: 10px;
}
.calcButton:hover{
    border-color: #344687;
    background-color: white;
    color: #344687;
    cursor: pointer;
}

.calcButton:focus {
    
    outline-color: #344687;
}

.woocommerce nav.woocommerce-pagination ul .page-numbers, .woocommerce nav.woocommerce-pagination ul .page-numbers:not(.current):hover {
    color: var( --e-global-color-0b90fe4 );
}

.woocommerce nav.woocommerce-pagination ul .page-numbers.current {
    background-color: var( --e-global-color-0b90fe4 );
    border-color: var( --e-global-color-0b90fe4 );
}



@media (max-width: 750px) {
	 #blockCategories .elementor-button-wrapper {
         text-align: center;
     }

     #blockCategories .elementor-widget-wrap.elementor-element-populated {
         padding: 0;
     }

     #traxHeader {
         padding-top: 10px;
         padding-bottom: 10px;
     }

     #logoHeader {
        width:50%;
        float: left;
     }

     #navHeader {
         width: 50%;
     }

     #searchBlock {
        display: inline-block;
        width:10%;
    }

    footer {
        text-align: center;
    }

    #logoFooter {
        width: 100%;
        text-align: center;
    }

    #socialFooter {
        width: 100%;
    }

    #socialFooter .elementor-social-icons-wrapper {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    #newsLetterBar .raven-field {
        width: 100%;
    }

    footer ul li a {
        justify-content: center!important;
    }

    footer ul li {
        justify-content: center;
    }

    .resetMobile {
        width: 100%!important;
        padding-left:0px!important;
        padding-right:0px!important;
    }

    .resetMobile .elementor-element-populated {
        width: 100%!important;
        padding-left:0px!important;
        padding-right:0px!important;
    }

    form.woocommerce-ordering {
        width: 30%!important;
    }


}
